# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# PyCharm
.idea/

# Jupyter notebooks
.ipynb_checkpoints/

# Logs
*.log

# Local settings
local_settings.py

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Редактор VS Code
.vscode/


# IntelliJ/PyCharm
.idea/
*.iml

